.header {
  background-color: #2b3844;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px 15px;
}

.logo {
  height: 35px;
  width: 35px;
}

.label {
  color: #fff;
  cursor: pointer;
}

.label:not(:last-child) {
  margin-right: 10px;
}

.input ~ span {
  transition: border-color 0.3s ease, color 0.3s ease;
}

.input + span {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid #fff;
  transition: border-color .3s ease;
}

.input + span::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #C283F3;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .3s ease;
}

.input:checked + span:before {
   opacity: 1;
 }




