
.container {
    max-width: 1600px;
    margin: 0 auto;

    padding: 0px 15px;
}

.treeHTML {
    line-height: normal;
    position: relative;
    margin-bottom: 30px;
}
.treeHTML details {
    display: block;

}
.treeHTML div {
    position: relative;
    margin: 0 0 0 5px;
    padding: 0 0 0 1.2em;
    padding-bottom: 20px;
}
.treeHTML div:not(:last-child) { /* необязательно */
    border-left: 1px dashed #ccc;
}
.treeHTML div:before { /* необязательно */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: .5em;
    border-bottom: 1px dashed #ccc;
    margin-top: 3px;
}
.treeHTML div:last-child:before {
    border-left: 1px dashed #ccc;
}
.treeHTML summary {
    cursor: pointer;
}
.treeHTML details[open] summary {
    outline: none;
}

.mainSummary {
    position: absolute;
    top: 25px;
    left: 5px;
}

.mainDetails {
    padding-left: 3px;
    padding-top: 20px;
}

.image {
    width: 30px;
    height: 30px;
}

.wrapImages {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.popupBody {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popupContent {
    position: relative;
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
}

.popupContent div {
    width: 600px;
    height: 500px;
    background-color: #fff;
}

.popup-image {
    height: 600px;
    width: 500px;
}

.link {
    cursor: pointer;
}

